@page
@model IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindos à Aplicação Web Crud!</h1>
    <p>Clique em Clientes para acessar as funcionalidades.</p>
</div>
